.terraform/
*.tfstate
*.tfstate.*
*.tfvars
*.tfvars.*
*.tfvars.json
crash.log
override.tf
override.tf.json
.terraform.lock.hcl
!env/uat/terraform.tfvars

# Editors
.vscode/
.idea/
*.swp
*.swo
*.DS_Store

# Logs
*.log

# SSH Keys
*.pem
*.key
id_rsa
id_rsa.pub
keys/

# Examples terraform caches
examples/**/.terraform/

# Backup archives created by scripts
examples/terraform-root-backup-*/
